@import url(styles/header.css);
:root{
--cor-de-fundo: #535b89;
--cor-cabecalho: #e0d6d2;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container imagem, .container frase{
    padding: 1em;
    }
    .container titulo, .container frase{
    display:none;
    }
