.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container imagem, .container frase{
    padding: 1em;
    }
    .container titulo, .container frase{
    display:none;
    }




    @media screen and (min-width: 820px) {
        .container_titulo, .container_titulo--negrito {
            font-size: 30px
        }
        .container_titulo{
            font-weight: 400;
            display: block;
        }
    }

    @media screen and (min-width: 1024px) {
        .container_frase{
            padding-left: 5em;
            font-size: 20px;
            display: block;
        }
    }